:root {
  --light-blue: #8ecccc;
  --grey-blue: #50717b;
  --dark-grey: #3a4042;
  --black: #212121;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-blue);
  color: white;
}

body.dark-mode {
  background-color: var(--dark-grey);
  color: white;
}

body.dark-mode header {
  background-color: var(--black);
  color: white;
}

header {
  padding: 20px;
  font-family: "Verdana", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: var(--grey-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

header nav {
  font-size: 30px;
  font-weight: 550;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px 65px;
  margin: 8px 0;
  box-sizing: border-box;
  display: flex;
  word-break: break-word;
  border: solid gray;
  box-shadow: 5px 5px 10px rgb(59, 65, 66);
}

button {
  background-color: #227187;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.dark-mode button {
  background-color: var(--black);
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  display: flex;
}

/* Control the left side */
.left {
  left: 0;
  border: solid #e4e4e4;
  display: flex;
  word-break: break-word;
}

/* Control the right side */
.right {
  right: 0;
  border: solid #e4e4e4;
  display: flex;
  word-break: break-word;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 100%;
  border-radius: 50%;
}
/*==================================================*/
/*Swith Section*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9ecece;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--grey-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(77, 77, 114);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(77, 77, 114);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
